<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../static/styles.css" rel="stylesheet" />
    <title>HACKED BY SILLY CATS</title>
</head>

<body>
    <nav id="navbar">
        <a href="./index.html">
        </a>
        <button class="navlink" onclick="redirect('/')">Home</button>
        <button class="navlink" onclick="redirect('./login')" aria-disabled="true" disabled>login</button>
    </nav>
    <script>
        function redirect(link) {
            window.location.href = link;
        }
    </script>
    <h1 id="topheader">This site has been hacked by the Silly Cats Cybercrime group!</h1>
    <p class="text">The login page has been disabled, this site is ours now! >:3</p>
</body>

</html>